{{template "header" .}}
<!-- Page content-->
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">{{.page}}</a>
        <form class="d-flex" role="search">
            <input class="form-control form-control-md me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success btn-md" type="submit">Search</button>
        </form>
    </div>
</nav>

<!-- JS SECTION 
Modify this part if needed
-->

{{if .statusCode}}
<script>
    Swal.fire({
        position: 'top-center',
        icon: '{{.iconDesc}}',
        title: '{{.statusDesc}}',
        showConfirmButton: false,
        toast: true,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })
</script>
{{end}}
{{template "footer" .}}